<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6d6fe6">  <td>20/08/12 20:17:19</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;StartAQuoteTestNg.AfterTest()[pri:0, instance:progressivePagesTest.StartAQuoteTestNg@5e4c8041]">&lt;&lt;AfterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1196695891</td>   <td></td> </tr>
<tr bgcolor="6d6fe6">  <td>20/08/12 20:15:12</td>   <td>-127129</td> <td>&nbsp;</td><td title="&gt;&gt;StartAQuoteTestNg.BeforeTest()[pri:0, instance:progressivePagesTest.StartAQuoteTestNg@5e4c8041]">&gt;&gt;BeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1196695891</td>   <td></td> </tr>
<tr bgcolor="6d6fe6">  <td>20/08/12 20:15:13</td>   <td>-125575</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StartAQuoteTestNg.startAQuoteTest()[pri:0, instance:progressivePagesTest.StartAQuoteTestNg@5e4c8041]">startAQuoteTest</td> 
  <td>main@1196695891</td>   <td></td> </tr>
</table>
