<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4d69d">  <td>20/08/12 20:24:57</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;GoogleHomePageTest.BeforeTest()[pri:0, instance:googlePageTest.GoogleHomePageTest@1a0dcaa]">&gt;&gt;BeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@815674463</td>   <td></td> </tr>
<tr bgcolor="6d6fe6">  <td>20/08/12 20:24:59</td>   <td>1631</td> <td>&nbsp;</td><td title="&gt;&gt;StartAQuoteTestNg.BeforeTest()[pri:0, instance:progressivePagesTest.StartAQuoteTestNg@19d37183]">&gt;&gt;BeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@815674463</td>   <td></td> </tr>
<tr bgcolor="6d6fe6">  <td>20/08/12 20:25:00</td>   <td>2705</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StartAQuoteTestNg.startAQuoteTest()[pri:0, instance:progressivePagesTest.StartAQuoteTestNg@19d37183]">startAQuoteTest</td> 
  <td>main@815674463</td>   <td></td> </tr>
<tr bgcolor="a4d69d">  <td>20/08/12 20:27:06</td>   <td>128457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleHomePageTest.performTesting()[pri:0, instance:googlePageTest.GoogleHomePageTest@1a0dcaa]">performTesting</td> 
  <td>main@815674463</td>   <td></td> </tr>
<tr bgcolor="6d6fe6">  <td>20/08/12 20:27:09</td>   <td>131446</td> <td>&nbsp;</td><td title="&lt;&lt;StartAQuoteTestNg.AfterTest()[pri:0, instance:progressivePagesTest.StartAQuoteTestNg@19d37183]">&lt;&lt;AfterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@815674463</td>   <td></td> </tr>
</table>
